<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GAAGUI.Properties.Settings.msdb2355ConnectionString"
            connectionString="Data Source=lugh4.it.nuigalway.ie;Initial Catalog=msdb2355;Persist Security Info=True;User ID=msdb2355;Password=msdb2355AO"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>